@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka+One&family=Permanent+Marker&display=swap');

.i-about{
    height: 100vh;
    
}
.bgImg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about_text p:nth-child(1){
    color: rgb(39, 92, 19);  
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
}
.about_text p:nth-child(2){
    color: #274c5b;  
    font-size: 40px;
}
.about_text p:nth-child(3){
    /* margin-bottom: 15px; */
    font-family: 'Open Sans', sans-serif;
    color: #525c60;
    font-size: 20px;
}
.abt-item p:nth-child(1){
    font-family: 'Open Sans', sans-serif;
    color: #274c5b;  
    font-weight: bold;
    font-size: 25px;
}
.abt-item p:nth-child(2){
    font-family: 'Open Sans', sans-serif;
    color: #274c5b;  
    /* font-weight: bold; */
    font-size: 17px;
}
.about_text a{
    background-color: #0d3101;
    color: white;
}
.about_text a:hover{
    background-color: white;
    color: #0d3101;
    /* border-radius: 20px; */
}

/* product section css */
#product p:nth-child(1){
    font-family: 'Permanent Marker', cursive;
    color: rgb(39, 92, 19);
}
#product p:nth-child(2){
    
        color: #274c5b;  
        font-size: 40px;
    
}
.pr-card{
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pr-card button{
    background-color: #0d3101;
    color: white;
}
.pr_name{
    color: #274c5b!important;  
    font-size: 20px;
    font-family:sans-serif !important;
}
.price{
    font-size: 25px !important;
    font-family:sans-serif !important;
}
.price span{
    text-decoration: line-through;
    color: rgb(176, 173, 173);
}