* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    min-height: 100px;
}

#logo {
    width: 105px;
    height: auto;
}

#brand-name {
    font-family: cursive;
}

#cart-no {
    min-height: 65px;
    /* min-width: 160px; */
}

#cart-icon {
    float: left;
    width: 50px;
    height: 50px;
    background-color: #274c5b;
    color: white;
}

.rounded-circle {
    padding-top: 6px;
    padding-right: 0;
}

@media only screen and (max-width: 600px) {
    nav {
        min-height: 70px;
    }

    #logo {
        height: 70px;
        width: auto;
    }

    #cart-icon {
        float: left;
        width: 45px;
        height: 45px;
        background-color: #274c5b;
        color: white;
    }

    #cart-no {
        min-height: 50px;
        /* min-width: 60px; */
    }
}